*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --main-color: #f25454;
  --second-color: #282828;
  --third-color: #b0b0b0;
}
.text-main {
  color: var(--main-color);
}
body {
    font-family: 'Open Sans', sans-serif;    
}
#Services , #Contact{
    background-color: #fafafa;
}
#nav-main {
    font-family: 'Poppins', sans-serif;
      z-index: 999999;
  background-color: rgba(255, 255, 255, 0.4);
}
#nav-main{
    transition: all 2s;
}
.text-color {
  color: var(--second-color);
}
.nav-item:hover .nav-hover {
  color: var(--main-color);
}
header h1 {
  font-size: 72px;
  font-weight: 600;
}

.jobs .Branding::before{
    content: '';
    width: 100%;
    background-color: #eee;
    height: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 3px;
}
.jobs .Branding::after{
    content: '';
    width: 80%;
    background-color: var(--main-color);
    height: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 3px;
}
.Branding span{
    left: 75%;
}
.jobs .Web-Design::before{
    content: '';
    width: 100%;
    background-color: #eee;
    height: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 3px;
}
.jobs .Web-Design::after{
    content: '';
    width: 95%;
    background-color: var(--main-color);
    height: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 3px;
}
.Web-Design span{
    left: 90%;
}
.jobs .Graphic-Design::before{
    content: '';
    width: 100%;
    background-color: #eee;
    height: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 3px;
}
.jobs .Graphic-Design::after{
    content: '';
    width: 85%;
    background-color: var(--main-color);
    height: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 3px;
}
.Graphic-Design span{
    left: 80%;
}
.jobs .Development::before{
    content: '';
    width: 100%;
    background-color: #eee;
    height: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 3px;
}
.jobs .Development::after{
    content: '';
    width: 70%;
    background-color: var(--main-color);
    height: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 3px;
}   
.Development span{
    left: 65%;
}
#team h5{
    font-family: 'Poppins', sans-serif;
}
#Question h3 {
    font-family: 'Poppins', sans-serif;
}
#Services h5{
    font-family: 'Poppins', sans-serif;
}
#Contact h5,h3{
    font-family: 'Poppins', sans-serif;
}
#Blog h5{
    font-family: 'Poppins', sans-serif;
}
footer h5{
    font-family: 'Poppins', sans-serif;
}
.member img{
    width: 100%;
    border-radius: 5px;
    transition: transform 0.5s;
}
.hover{
    position: relative;
    overflow: hidden;
}
.hov{
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
    z-index: -1;
    transition: z-index 0.5s, background-color 0.5s;
}
.name-member{
    line-height: 5px;
}
.name-member h5{
    color: var(--second-color);
    transition: all 0.5s;
}
.hov p{
    color: white;
}
.member:hover .hov{
    z-index: 1;
    background-color: rgba(242, 84, 84,0.8);
}
.member:hover img{
    transform: scale(1.1);
}
.member:hover .name-member h5{
    color: var(--main-color);
}
.service h5 {
    transition: all 0.5s;

    color: var(--second-color);
}
.service:hover h5{
color: var(--main-color);
}
.client .client-item i {
    font-size: 40px;
}


.carousel-indicators button {
    background-color: #e65f78 !important;
    color: #e65f78 !important;
}


.carousel-indicators button {
    width: 15px !important;
    height: 5px !important;
    border: 1px solid transparent !important;
    border-radius: 5px !important;
}

.carousel-indicators button.active {
    width: 30px !important;
}
footer{
    background-color: #282828;
    background-image: url(../img/dotted-map.png);
    background-position: center center;
    background-repeat: repeat;
    background-size: contain;
}
.hover-link{
    color: var(--third-color);
    transition: all 0.5s;
}
.copyright{
    background-color: var(--second-color);
}
.third-color{
    color: var(--third-color);
}
.slide-1{
position: absolute;
top: 50%;
left: 50%;
text-align: center;
color: white;
}
.icon-fixed{
    position: fixed;
    left: 0;
    top: 20%;
    z-index: 9999;
    background-color: var(--second-color);
}
.hover-list:hover .hover-link {
    color: var(--main-color);
}
.botton{
    background-color: rgba(242, 84, 84,0.5);
    transition: all 0.5s;
}
.bottons{
    background-color: rgb(242, 84, 84);
    transition: all 0.5s;
}
.hover-list:hover .botton {
    background-color: var(--main-color);
}
.hover-list:hover .bottons{
    background-color: rgba(242, 84, 84,0.5);
}
.hover-links{
    color: var(--second-color-color);
    transition: all 0.5s;
}
.hover-list:hover .hover-links {
    color: var(--main-color);
}
.title span{
    position: absolute;
    opacity: 0.1;
    font-size: 70px;
    top:12px ;
}
.title h2{
    font-family: 'Poppins', sans-serif;
}
.title .line-bg{
    height: 1px;
    width: 5%;
    top: 60;
    left: 50%;
    background-color: var(--second-color);
    transition: all 0.5s;
}
.hover-list:hover .line-bg{
    width: 10%;
 }